<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>tit</key>
		<string>03月27日</string>
		<key>list</key>
		<array>
			<dict>
				<key>tit</key>
				<string>IWExtensions_UIImage.swift</string>
				<key>sub</key>
				<string>[功能演示] 生成二维码</string>
				<key>acid</key>
				<string>generateQRCode</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>tit</key>
		<string>03月18日</string>
		<key>list</key>
		<array>
			<dict>
				<key>tit</key>
				<string>IWKeyChainManager.swift</string>
				<key>sub</key>
				<string>[功能演示] KeyChain的使用</string>
				<key>acid</key>
				<string>keychain</string>
			</dict>
			<dict>
				<key>tit</key>
				<string>IWCollectionViewFlowLayout.swfit</string>
				<key>sub</key>
				<string>[功能演示] 自动瀑布流布局</string>
				<key>acid</key>
				<string>flowlayout</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>tit</key>
		<string>02月06日</string>
		<key>list</key>
		<array>
			<dict>
				<key>tit</key>
				<string>IWCollectionViewFlowLayout.swift</string>
				<key>sub</key>
				<string>[修改] 调整实现逻辑，使其能适应更复杂的瀑布流布局情况。</string>
			</dict>
			<dict>
				<key>tit</key>
				<string>UIRectCorner+IWExt.swift</string>
				<key>sub</key>
				<string>[新增] 用于快速选择组合 RectCorner。</string>
			</dict>
			<dict>
				<key>tit</key>
				<string>String+IWExt.swift</string>
				<key>sub</key>
				<string>[新增]
&gt; func toSize(:::)
  计算文字 Size，免去转换 NSString 的操作。</string>
			</dict>
			<dict>
				<key>tit</key>
				<string>WKWebView+IW.swift</string>
				<key>sub</key>
				<string>[修正]
&gt; func removeChild(byIdentity:)
  删除语句错误的问题。</string>
			</dict>
			<dict>
				<key>tit</key>
				<string>CGFloat+IWExt.swift</string>
				<key>sub</key>
				<string>[新增]
&gt; .navBarHeightNormal、.tabbarHeightNormal
  忽略是否隐藏是否存在的情况，返回navBar/tabbar的高度；

[修改]
&gt; screenHeight、screenWidth、screenBounds
  修改为动态取值，设备方向旋转后任然能取到正确的值。</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>tit</key>
		<string>01月31日</string>
		<key>list</key>
		<array>
			<dict>
				<key>tit</key>
				<string>Optional+IWExt</string>
				<key>sub</key>
				<string>[新增]
&gt; func also
  条件成立则返回 unwrapped，否则返回 nil。</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>tit</key>
		<string>01月24日</string>
		<key>list</key>
		<array>
			<dict>
				<key>tit</key>
				<string>IWWaveLoadingView.swift</string>
				<key>sub</key>
				<string>[新增] 等待视图(loading...)。</string>
			</dict>
			<dict>
				<key>tit</key>
				<string>IWGlobal.swift</string>
				<key>sub</key>
				<string>[新增]
&gt; iw.loading.showWaveLoading()
  显示等待视图, 无遮罩;
&gt; iw.loading.stopWaveLoading()
  移除等待视图;
&gt; iw.loading.showWaveLoading(withMaskType:)
  以遮照方式显示等待视图。</string>
			</dict>
			<dict>
				<key>tit</key>
				<string>iw.loading.showWaveLoading()</string>
				<key>sub</key>
				<string>[功能演示] 默认等待视图。</string>
				<key>acid</key>
				<string>showWave</string>
			</dict>
			<dict>
				<key>tit</key>
				<string>iw.loading.stopWaveLoading()</string>
				<key>sub</key>
				<string>[功能演示] 移除遮照。</string>
				<key>acid</key>
				<string>stopWave</string>
			</dict>
			<dict>
				<key>tit</key>
				<string>iw.loading.stopWaveLoading(withMaskType: .dark)</string>
				<key>sub</key>
				<string>[功能演示] 暗色遮照 3秒后自动消失。</string>
				<key>acid</key>
				<string>showWaveDark</string>
			</dict>
			<dict>
				<key>tit</key>
				<string>iw.loading.stopWaveLoading(withMaskType: .light)</string>
				<key>sub</key>
				<string>[功能演示] 亮色遮照 3秒后自动消失。</string>
				<key>acid</key>
				<string>showWaveLight</string>
			</dict>
			<dict>
				<key>tit</key>
				<string>iw.loading.stopWaveLoading(withMaskType: .transparent)</string>
				<key>sub</key>
				<string>[功能演示] 透明遮照 3秒后自动消失。</string>
				<key>acid</key>
				<string>showWaveTransparent</string>
			</dict>
			<dict>
				<key>tit</key>
				<string>------------------------</string>
				<key>sub</key>
				<string>巧妙的分割线</string>
			</dict>
			<dict>
				<key>tit</key>
				<string>IWStoreProductVC.swift</string>
				<key>sub</key>
				<string>[新增] 用于在App内直接展示App Store应用的详情页(可以安装/打开)。</string>
				<key>acid</key>
				<string>storeProduct</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>tit</key>
		<string>01月23日</string>
		<key>list</key>
		<array>
			<dict>
				<key>tit</key>
				<string>IWListView.swift</string>
				<key>sub</key>
				<string>[移除]
&gt; (093行) cell下划线颜色: separatorColor = .groupTableViewBackground;
&gt; (106行) 自动计算高度: willMove(toSuperview newSuperview: UIView?)。</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>tit</key>
		<string>01月22日</string>
		<key>list</key>
		<array>
			<dict>
				<key>tit</key>
				<string>extension Optional</string>
				<key>sub</key>
				<string>[新增] 可选值操作.</string>
			</dict>
			<dict>
				<key>tit</key>
				<string>extension String</string>
				<key>sub</key>
				<string>[修改] toURL、toURLRequest 改为可选类型.</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>tit</key>
		<string>01月24日</string>
		<key>list</key>
		<array>
			<dict>
				<key>tit</key>
				<string>IWWaveLoadingView.swift</string>
				<key>sub</key>
				<string>[新增] 等待视图(loading...).</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>tit</key>
		<string>01月12日</string>
		<key>list</key>
		<array>
			<dict>
				<key>tit</key>
				<string>IWListView.swift</string>
				<key>sub</key>
				<string>[新增] reloadVisiableRows(with:): 重新加载目前显示在视图上的 Cell.</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>tit</key>
		<string>01月03日</string>
		<key>list</key>
		<array>
			<dict>
				<key>tit</key>
				<string>IWLoginVC.swift</string>
				<key>sub</key>
				<string>[功能展示] 一个仿照 iOS 初始化时候的登录界面。</string>
				<key>acid</key>
				<string>login</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
